@import "./sass/__header";
@import "./sass/__intro";
@import "./sass/__product-card";
@import "./sass/__news-card";
@import "./sass/__footer";


html,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  transition: all 250ms ease;
  font-family: "Open Sans";
}

body {
  min-width: 320px;
  scroll-behavior: smooth;
  background-color: #dddddd;
}

a, button {
  text-decoration: none;
  color: #222;
  &:hover {
    cursor: pointer;
  }
}

main{
  padding: 50px 0;
}